
# ignore settings files :
Tools/settings/editor_directory.txt
Tools/settings/package_output.txt
Tools/settings/quickbms_export_dir.txt

# ignore files under Content/data/resourcepack (they are merged from Blocks Texture during packaging)
# !! May cause issue (Not tested) !!
**/UE4Project/Content/data
**/Dungeons/Content/data

# ignore files, add *.file_extension :
UE4Project/Saved/Cooked/WindowsNoEditor/Dungeons/Metadata/CookedIniVersion.txt
Dungeons/**/*.uasset
UE4Project/Saved/**
Dungeons/**/*.ubulk
Dungeons/**/*.uexp
Dungeons/**/*.umap
Dungeons/**/*.ufont
*.DS_Store
*.mat
*.ini
*.bin
*.log
*.ufont
*.umap
*.ubulk
*.uexp
Tools/user_settings/package_output.txt
